/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600&family=Noto+Sans+Thai&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,600&family=Sarabun:wght@100;300;400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans Thai', sans-serif;
}
p{
  font-family: 'Noto Sans Thai', sans-serif;
  font-size: 20px;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url(./images/bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Noto Sans Thai', sans-serif;
  flex-direction: column;
}
::selection{
  color: #fff;
  background: #387be7;
}
.wrapper{
  padding: 25px;
  background: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
.cards, .card, .view, .details, p{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards{
  height: 500px;
  width: 500px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cards .card{
  cursor: pointer;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  height: calc(100% / 4 - 10px);
  width: calc(100% / 4 - 10px);
}
.card.shake{
  animation: shake 0.35s ease-in-out;
}
@keyframes shake {
  0%, 100%{
    transform: translateX(0);
  }
  20%{
    transform: translateX(-13px);
  }
  40%{
    transform: translateX(13px);
  }
  60%{
    transform: translateX(-8px);
  }
  80%{
    transform: translateX(8px);
  }
}
.cards .card .view{
  width: 100%;
  height: 100%;
  user-select: none;
  pointer-events: none;
  position: absolute;
  background: #fff;
  border-radius: 7px;
  backface-visibility: hidden;
  transition: transform 0.25s linear;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.card .front-view img{
  max-width: 17px;
}
.card .back-view{
  transform: rotateY(-180deg);
}
.card .back-view img{
  max-width: 100%;
  border-radius: 7px;
}
.card.flip .front-view{
  transform: rotateY(180deg);
}
.card.flip .back-view{
  transform: rotateY(0);
}

.details{
  width: 100%;
  margin-top: 0px;
  padding: 0 20px;
  border-radius: 7px;
  background: #fff;
  height: calc(100% / 4 - 40px);
  justify-content: space-between;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.details p{
  font-size: 18px;
  height: 17px;
  padding-right: 18px;
}
.details p span{
  margin-left: 8px;
}
.details p b{
  font-weight: 500;
}
.details button{
  cursor: pointer;
  font-size: 14px;
  color: #387be7;
  border-radius: 4px;
  padding: 4px 11px;
  background: #fff;
  border: 2px solid #387be7;
  transition: 0.3s ease;
  width: 45%;
  height: 50px;
}
.details button:hover{
  color: #fff;
  background: #387be7;
}
.logo img {
  height: 200px;
  width: auto; 
}

@media screen and (max-width: 750px) {
  .cards{
    height: 300px;
    width: 300px;
  }
  .card .front-view img{
    max-width: 14px;
  }
  .card .back-view img{
    max-width: 40px;
  }
  .details {
    height: calc(100% / 4 - 0px);
  }
  .logo img {
    height: 150px;
    width: auto; 
  }
}

@media screen and (max-width: 330px) {
  .cards{
    height: 205px;
    width: 205px;
  }
  .card .back-view img{
    max-width: 35px;
  }
  .details{
    margin-top: 10px;
    padding: 0 15px;
    height: calc(100% / 4 - 0px);
  }
  .details p{
    height: 15px;
    font-size: 13px;
    padding-right: 13px;
  }
  .details button{
    font-size: 11px;
    padding: 5px 10px;
    border: none;
    color: #fff;
    background: #387be7;
  }
  .logo img {
    height: 100px;
    width: auto; 
  }  
}